
.home {
    overflow: hidden; 
    width: 100%;
    height: auto; 
}


.fullwidth {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden; 
}

.video-background {
    position: absolute;
    top: 0;
    opacity: 0.4;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}

video {
    width: 100%;
    height: 100%;
    pointer-events: none; 
    object-fit: cover;
}

@media (max-width: 768px) {
    .fullwidth {
        height: calc(100vh - 60px);
    }

    video {
        object-fit: cover;
    }
}


@media (width > 480px) {
    .fullwidth {
        height: auto; 
    }

    .video-background {
        height: 100%; 
    }

    video {
        object-fit: cover; 
        /* max-height: 100vh;  */
    }
}


@media (max-width: 360px) {
    .fullwidth {
        height: auto; 
    }

    .video-background {
        height: 100vh;
    }

    video {
        object-fit: contain;
        height: 100vh;
    }

    
    h1, h2, p {
        font-size: clamp(1.2rem, 2vw, 2.5rem); 
    }

    button {
        font-size: 0.9rem; 
        padding: 8px 12px; 
    }
}


@media (min-width: 1200px) {
    .fullwidth {
        height: 100vh; 
    }
}


.my-custom-button {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: #009c1a;
    color: #fff;
    border: 2px solid #009c1a;
    transition: background-color 0.3s ease-in-out;
  }
  
  .my-custom-button:hover {
    background-color: #007b12; /* Darker green on hover */
  }